/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {

    -fx-background-color: transparent;

	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow,
{
	-fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}

.clear-select {
    -fx-accent: transparent;
    -fx-focus-color: transparent;
}

.roboto {
    -fx-font-family: "Roboto";
}

.progress-bar > .bar {
    -fx-background-color: gray;
    -fx-background-radius: 0;
}

.news-card
{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 15, 0, 1, 2, 0);

    -fx-background-color: white;
    /*-fx-padding: 10;*/
}

.offline-news-card
{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 15, 0, 1, 2, 0);
    -fx-background-color: white;
    -fx-font-size: 14px;
    /*-fx-padding: 10;*/
}

.text-padding
{
    -fx-padding: 10;
}

.refresh-button{
    /*-fx-padding: 0.7em 0.57em;*/
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color: rgb(77,102,204);
    -fx-pref-width: 260;
    -fx-pref-height: 40;
    -fx-text-fill: WHITE;
}