.date-label {
    -fx-font-size: 14px;
    -fx-padding:2;
}

.icon {
     -fx-font-family: 'FontAwesome Regular';
     -fx-font-size: 36px;
     -fx-padding: 10;
}


.icon-badge .badge-pane {
	-fx-background-color: rgb(56, 118, 237);
	-fx-background-radius: 23;
	-fx-pref-width: 23;
	-fx-pref-height: 23;
	-fx-alignment: center;

}


.icon-badge .badge-pane Label{
	-fx-font-size: 14.0px;
	-fx-text-fill: #FFFFFF;
}

.box-button {
    -fx-background-color: #FFFFFF
}


.box-button-selected {
	-fx-background-color:#BDBDBD;
}

.box-button-disabled {
    -fx-background-color: #f8f8f8
}


.weekday {
    -fx-font-family: "Roboto";
    /*-fx-font-weight: BOLD;*/
    -fx-underline: true;
    -fx-alignment: center ;
    -fx-padding: 5;
    -fx-font-size: 14.0px;

}

.taskHBox {
    -fx-background-color:#FFFFFF;
}

.monthLabel {
    -fx-font-size: 18pt;
    -fx-font-family: "Roboto";
}

.monthButton {

/* Circle Code
     -fx-background-radius: 50em;
     -fx-min-width: 20px;
     -fx-min-height: 20px;
     -fx-max-width: 20px;
     -fx-max-height: 20px;
*/
     -fx-background-color: #BDBDBD;
     -fx-text-fill: #FFFFFF;
	 -fx-padding: 8 20 7 20;
     -fx-font-family: 'FontAwesome Regular';
}

