.list-button {
    -fx-font-size: 14px;
    -fx-font-family: "Roboto";
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-padding: 0;
    -fx-background-radius: 0;
}

.label-button {
    -fx-font-size: 14px;
    -fx-font-family: "Roboto";

    /*-fx-label-padding: 0em, 0em, 0em, .416667em;*/
    -fx-label-padding: 0 0 0 5;

}

.large-text{
    -fx-font-size: 16px;

}

.roboto
{
    -fx-font-size: 14px;
    -fx-font-family: "Roboto";
}

.gray-button {
    -fx-background-color: #BDBDBD;
    -fx-font-size: 14px;
    -fx-font-family: "Roboto";
    -fx-padding: 5;
    -fx-background-radius: 0;


}

.times {
-fx-font-size: 14px;
-fx-font-family: "Times New Roman";

}