.button-raised {
     -fx-padding: 0.7em 0.57em;
     -fx-font-size: 14px;
     -fx-button-type: RAISED;
     -fx-background-color: #FF9800;
     -fx-text-fill: WHITE;
     -fx-cursor: hand;
}

.jfx-hamburger-icon{
    -fx-cursor: hand;
    -fx-background-radius: 0;
}
.jfx-hamburger-icon StackPane{
    -fx-background-color : WHITE;
}

.navBar{
    -fx-background-color: #FF9800
}

.progress-bar {
    -fx
}

.progress-bar > .track {
    -fx-background-color: #CFCED0;
    -fx-background-radius: 0;
}

.progress-bar > .bar {
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0.3em;
    -fx-background-color: #0066FF;
    -fx-background-radius: 0;
}